<<<<<<< HEAD
html, body {
	background-color: lightgray;
	margin: 0;
	padding: 0;
}

.maincontent {
	max-width: 700px;
}

.box {
	background-color: white;
	padding: 20px;
	margin: 30px;
}
.image {
	width:  100%;
}

.button {
	color: black;
	background-color: lightgray;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
=======
html, body {
	background-color: lightgray;
	margin: 0;
	padding: 0;
}

.maincontent {
	max-width: 700px;
}

.box {
	background-color: white;
	padding: 20px;
	margin: 30px;
}
.image {
	width:  100%;
}

.button {
	color: black;
	background-color: lightgray;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
>>>>>>> 80ee62ea7d1f9be315d76ce9ef7232b7c5380a0d
}